<p id="notice"><%= notice %></p>

<h1>Project Phases</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_phases.each do |project_phase| %>
      <tr>
        <td><%= project_phase.title %></td>
        <td><%= project_phase.description %></td>
        <td><%= project_phase.project %></td>
        <td><%= link_to 'Show', admin_project_phase %></td>
        <td><%= link_to 'Edit', edit_admin_project_phase_path(project_phase) %></td>
        <td><%= link_to 'Destroy', admin_project_phase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Phase', new_admin_project_phase_path %>
