<div class="box box-<%= project.status %> ">
	<div class="box-header with-border">
		<h2><%= project.name %></h2>
	</div>
	<div class="box-body">
		<p><strong>Project Contact: </strong> <%= project.project_contact %></p>
		<p><strong>Project email: </strong> <%= project.project_email %></p>
		<p><strong>App type: </strong> <%= project.app_type.humanize %></p>
	</div>
</div>