<div class="box box-<%= project.status %> ">
	<div class="box-header with-border">
		<h2><%= project.name %></h2>
	</div>
	<div class="box-body">
		<p><strong>Project Contact: </strong> <%= project.project_contact %></p>
		<p><strong>Project email: </strong> <%= project.project_email %></p>
		<p><strong>app_type: </strong> <%= project.app_type %></p>
		<p><strong>design_status: </strong> <%= project.design_status %></p>
		<p><strong>start_date: </strong> <%= project.start_date %></p>
		<p><strong>end_date: </strong> <%= project.end_date %></p>
		<p><strong>budget_range: </strong> <%= project.budget_range %></p>
		<p><strong>potential_new: </strong> <%= project.potential_new %></p>
		<p><strong>paid: </strong> <%= project.paid %></p>
		<p><strong>description: </strong> <%= project.description %></p>
		<p><strong>inspiration: </strong> <%= project.inspiration %></p>
	</div>
</div>