<fieldset class='phase' data-phase_id="<%= f.object.id%>">
	<div class="row">
		<div class="field col-md-3 form-group">
		  <%= f.label :title %>
		  <%= f.text_field :title, class: 'form-control' %>
		</div>

		<div class="field col-md-8 form-group">
		  <%= f.label :description %>
		  <%= f.text_area :description,rows: "4", class: 'form-control' %>
		</div>
		<div class="field col-md-1 form-group">
			<%= f.label :_destroy, 'delete phase', class: "danger"%>
			<%= f.check_box :_destroy %>
		</div>
	</div>
	<hr>
</fieldset>