<div class="public_pages">
	<div class="new_project_wrapper">
		<p id="notice"><%= notice %></p>
		<header>
			<div class="container">
				<h2>Starting a new Project</h2>
				<p class="attn">A better idea of what you are looking to build.</p>
			</div>
			</header>

			<div class="flex-container">
				<%= form_for [:admin, @project] do |f| %>
					<% if @project.errors.any? %>
						<div id="error_explanation">
							<h2><%= pluralize(@project.errors.count, 'error') %> prohibited this form from being saved: </h2>
							<ul>
								<% @project.errors.full_messages.each do |message| %>
									<li><%= message %></li>
								<% end %>
							</ul>
						</div>
					<% end %>
						
					<section>
						<div class="container">
							<h2>What are you looking to create?</h2>
							<p>We'll get into the details later, but for now give us a broad idea of what kind of website or application you are looking for.</p>
						</div>
						<div class="flex-container container">
							<div class="radio-block">
								<%= f.radio_button :app_type, 'existing_site'%>
								<div class="radio-content">
									<i class="fa fa-window-maximize" aria-hidden="true"></i>
									<h3>Work on an Existing Site or Application</h3>
									<p>You have a website or application already and are looking to add features, functionality, or maybe build out a new section.</p>
								</div>
								<%= f.label :app_type_existing_site, 'existing_site' do %>
								<% end %>
							</div>
							<div class="radio-block">
								<%= f.radio_button :app_type, 'static_website'%>
								<div class="radio-content">			
									<i class="fa fa-desktop" aria-hidden="true"></i>
									<h3>Static Website</h3>
									<p>You have an idea of what information you want your site to display and think this will stay consitent for the foreseable future. Some great use cases for static websites could include a restaurant with a consistent menu, a microsite for an event, a site for a brick and mortar shop. This is a great place to start if you are looking to establish an online presence.</p>
								</div>
								<%= f.label :app_type_static_website, 'static_website' do %>
								<% end %>
							</div>
							<div class="radio-block">
								<%= f.radio_button :app_type, 'dynamic_website'%>
								<div class="radio-content">	
									<i class="fa fa-file-code-o" aria-hidden="true"></i>
									<h3>Dynamic Website</h3>
									<p>Your site has some consistently updated components. Maybe you have a blog or event listings. Maybe you are updating the images and copy and want you or someone on your team to input, change, and rework content. If this resonates than a dynamic site, powered by a content management system, could be right for you.</p>
								</div>
								<%= f.label :app_type_dynamic_website, 'dynamic_website' do %>
								<% end %>
							</div>
							<div class="radio-block">
								<%= f.radio_button :app_type, 'ecommerce'%>
								<div class="radio-content">	
									<i class="fa fa-tag" aria-hidden="true"></i>
									<h3>Ecommerce Website</h3>
									<p>The primary goal of your site is to act as an ecommerce gateway. You want to be able to manage new products and inventory from a content management system. You may still want other features, like a blog or articles section or a customizable lookbook and you can have those too. </p>
								</div>
								<%= f.label :app_type_ecommerce, 'ecommerce' do %>
								<% end %>
							</div>
							<div class="radio-block">
								<%= f.radio_button :app_type, 'market_place'%>
								<div class="radio-content">
									<i class="fa fa-shopping-cart" aria-hidden="true"></i>
									<h3>Market Place</h3>
									<p>Marketplace applications facilitate peer to peer commerce. This is a custom solution that is heavily transactionally driven. Some exmaples include Etsy and Airbnb</p>
								</div>
								<%= f.label :app_type_market_place, 'market_place' do %>
								<% end %>
							</div>
							<div class="radio-block">
								<%= f.radio_button :app_type, 'web_application'%>
								<div class="radio-content">
									<i class="fa fa-id-card-o" aria-hidden="true"></i>
									<h3>Custom Web Application</h3>
									<p>Your application involves custom user interactions. Maybe you have a new applicaiton idea or are looking to transform a low tech solution into something more automated. A custom web applicaitons allows you to decide the features and functionalities you want for your project. Some great examples of web applications are WealthSimple, Twitter, Meetup.</p>
								</div>
								<%= f.label :app_type_web_application, 'web_application' do %>
								<% end %>
							</div>
						</div>
					</section>
					<section class="design">
						<div class="container">
							<h2>What about design?</h2>
							<p>Do you have some existing branding, a fully distilled design, or are you looking to start fresh?</p>
						</div>
						<div class="container flex-container">
							<div class="radio-block">
								<%= f.radio_button :design_status, 'existing_brand_design'%>
								<div class="radio-content">
									<i class="fa fa-laptop" aria-hidden="true"></i>
									<h3>You have existing branding and design</h3>
									<p>A flat design has been done for your project already or you are working with an existing project that is already designed. All graphic design elements are accounted for.</p>
								</div>
								<%= f.label :design_status_existing_brand_design, 'existing_brand_design' do %>
								<% end %>
							</div>
							<div class="radio-block">
								<%= f.radio_button :design_status, 'existing_brand_no_design'%>
								<div class="radio-content">
									<i class="fa fa-compass" aria-hidden="true"></i>
									<h3>You have existing branding but need design</h3>
									<p>You have a logo, brand colors, and maybe some fonts associated with your company or project. You are looking to get the design for the website or application done, leveraging existing branding.</p>
								</div>				
								<%= f.label :design_status_existing_brand_no_design, 'existing_brand_no_design' do %>
								<% end %>
							</div>
							<div class="radio-block">
								<%= f.radio_button :design_status, 'brand_and_design'%>
								<div class="radio-content">
									<i class="fa fa-paint-brush" aria-hidden="true"></i>
									<h3>You need branding and design</h3>
									<p>You are starting fresh or just starting and need a logo, colors, font-treatments and the overall look of your site or application to be developed.</p>
								</div>
								<%= f.label :design_status_brand_and_design, 'brand_and_design' do %>
								<% end %>
							</div>
						</div>
					</section>

					<section class="inspiration">
						<div class="container">
							<h3>What are some websites or applications you like the look and feel of (provide links)</h3>
							<%= f.label :inspiration %>
							<%= f.text_area :inspiration, rows: "6", class: "form-control" %>
						</div>
					</section>
					<section class="date">
						<div class="container">
							<h3>Timeline</h3>
						</div>
						<div class="container flex-container">
							<div class="col--two">
								<%= f.label "When are you looking to start?" %>
								<%= f.date_field :start_date %>
							</div>
							<div class="col--two">
								<%= f.label "What is your ideal completion date?" %>
								<%= f.date_field :end_date %>
							</div>
						</div>
						
					</section>
					<section class="details">
						<div class="container"><h3>What is your budget?</h3></div>
						<div class="container flex-container budget">
							<div class="radio-block">
								<%= f.radio_button :budget_range, 'budget_1'%>
								<div class="radio-content">
									<h3>$2,000 - $5,000</h3>
								</div>
								<%= f.label :budget_range_budget_1, 'budget_1' do %>
								<% end %>
							</div>

							<div class="radio-block">
								<%= f.radio_button :budget_range, 'budget_2'%>
								<div class="radio-content">
									<h3>$5,000 - $10,000</h3>
								</div>
								<%= f.label :budget_range_budget_2, 'budget_2' do %>
								<% end %>
							</div>

							<div class="radio-block">
								<%= f.radio_button :budget_range, 'budget_3'%>
								<div class="radio-content">
									<h3>$10,000 - $20,000</h3>
								</div>
								<%= f.label :budget_range_budget_3, 'budget_3' do %>
								<% end %>
							</div>

							<div class="radio-block">
								<%= f.radio_button :budget_range, 'budget_4'%>
								<div class="radio-content">
									<h3>$20,000+</h3>
								</div>
								<%= f.label :budget_range_budget_4, 'budget_4' do %>
								<% end %>
							</div>
						</div>
					</section>

					<section class="project-descrition">
						<div class="container">	
							<h3>Tell us a bit about your project. Who is it for? What will it do?</h3>
							<%= f.label :description %>
							<%= f.text_area :description, rows: "10", class: "form-control" %>
						</div>
					</section>

					<section class="contact_info">
						<div class="container">
							<h3>Contact Info</h3>
							<%= f.label :your_name %>
							<%= f.text_field :project_contact, class: "form-control" %>
							<%= f.label :your_email %>
							<%= f.email_field :project_email, class: "form-control" %>
						</div>
					</section>

					<%= f.hidden_field :status, value: 'potential_new'%>
					<%= f.hidden_field :client_id, value: "#{Client.find_by_name('Form').id}" %>
					<%= f.hidden_field :origin, value: 'form' %>
					<div class="container">
						<input type="submit" value="get in touch">
					</div>
				<% end %>
				<div class="modal hidden" id="submit_thanks">
					<p>Thank you! We will be in touch shortly</p>
				</div>
		<div>	
	</div>
</div>
	
	<script src="https://use.fontawesome.com/e936e9fdb6.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
	<script>
		// const app = {};
	 //  // Initialize Firebase
	 //  var config = {
	 //    apiKey: "AIzaSyDo2Dno81DhP8wY56xXewSt2d07ryNMZfk",
	 //    authDomain: "new-client-f2ff2.firebaseapp.com",
	 //    databaseURL: "https://new-client-f2ff2.firebaseio.com",
	 //    storageBucket: "new-client-f2ff2.appspot.com",
	 //    messagingSenderId: "307889487273"
	 //  };
	 //  firebase.initializeApp(config);

	 //  //ref to databse
	 //  const database = firebase.database();

	 //  app.addClient = (client) => {
	 //  	let clientId = Math.round(Math.random()* 10000) 
	 //  	firebase.database().ref(`clients/${clientId}`).set({
	 //  		client
	 //  	})
	 //  }

	 //  $(() => {
	 //  	$('#add_client').on('submit', (e) => {
	 //  		e.preventDefault()
	 //  		console.log('clicked')
	 //  		$.ajax({
		// 			type: 'POST',
		// 			url: $('#add_client').data('update_url'),
		// 			dataType: 'json',
		// 			data: $(this).serialize()	
		// 			})
	  		
	 //  	})
	 //  })

	</script>