<p id="notice"><%= notice %></p>

<h1>Project Documents</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_documents.each do |project_document| %>
      <tr>
        <td><%= project_document.project %></td>
        <td><%= project_document.title %></td>
        <td><%= link_to 'Show', project_document %></td>
        <td><%= link_to 'Edit', edit_project_document_path(project_document) %></td>
        <td><%= link_to 'Destroy', project_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Document', new_project_document_path %>
